<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>66608555640-or2ve8o62js4ac86b6lj5mht12kahb1s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.66608555640-or2ve8o62js4ac86b6lj5mht12kahb1s</string>
	<key>API_KEY</key>
	<string>AIzaSyBUkqjM-j2nZzRl51Q2c0Kic2ytqHKabFE</string>
	<key>GCM_SENDER_ID</key>
	<string>66608555640</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ies-constructions.metraApp</string>
	<key>PROJECT_ID</key>
	<string>metraapp-268d1</string>
	<key>STORAGE_BUCKET</key>
	<string>metraapp-268d1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:66608555640:ios:be6d98f79c6358ef</string>
	<key>DATABASE_URL</key>
	<string>https://metraapp-268d1.firebaseio.com</string>
</dict>
</plist>